.OptionList {
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
}

.OptionList label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
}

.OptionList select {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 30px 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    outline-color: #6278f7;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}
